body{
    background-image: url("https://www.photos-public-domain.com/wp-content/uploads/2012/01/crumpled-white-paper-texture.jpg");
    font-family: 'Indie Flower';

}
h1{
    font-family: 'Indie Flower';
    text-align: center;
}
h3{
    margin: 5%;
    text-align: center;
}
p{
    font-size: 16px;
    width: 60%;
    height: 150px;
}
img{
    padding:10px;
    border-radius: 30%;
}
.hillel img{
    padding: 10px;
    float: right;
    width: 50%;
}
.hillel p{
    text-align: right;
    margin-left: 30%;
}
.college p{
    text-align: left;
    margin-left: 20%;
    margin-bottom: 5%;
}
.college img{
    padding: 10px;
    float: left;
    width: 50%;
}